{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Amazon 2 - Electric Bookaloo</title>

    <!-- Bootstrap core CSS -->
    <link rel='stylesheet' href='{% static "libs/custom/css/heroic-features.css" %}'>
    <link rel='stylesheet' href='{% static "libs/bootstrap/css/bootstrap.min.css" %}'>
    <link rel='stylesheet' href='{% static "libs/custom/css/custom.css" %}'>

  </head>
    .logoImg {
      display: block;
      max-width:230px;
      max-height:95px;
      width: auto;
      height: auto;
    }
  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#"> <img class="card-img-top logoImg" src='{% static "img/logo.png" %}' alt="Pet Sematary"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">My Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Rentals</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-3 centerText">Welcome USERNAME!</h1>
        <p class="lead centerText">More Than 750,948 Books Over Here.</p>
        <div class="container">
            <div class="row">    
                <div class="col-md-12 col-xs-offset-2">
                <div class="input-group">
                        <div class="input-group-btn search-panel">
                            <button type="button" class="flatRightButton btn btn-warning dropdown-toggle" data-toggle="dropdown">
                              <span id="search_concept">Filter by</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                              <li><a class="dropdown-item" href="#">Book</a></li>
                              <li><a class="dropdown-item" href="#">Author</a></li>
                              <li><a class="dropdown-item" href="#">Science fiction</a></li>
                              <li><a class="dropdown-item" href="#">Fantasy</a></li>
                              <li><a class="dropdown-item" href="#">Drama</a></li>
                              <li><a class="dropdown-item" href="#">Action and Adventure</a></li>
                              <li><a class="dropdown-item" href="#">Romance</a></li>
                              <li><a class="dropdown-item" href="#">Mystery</a></li>
                              <li><a class="dropdown-item" href="#">Horror</a></li>
                              <li><a class="dropdown-item" href="#">Health</a></li>
                              <li><a class="dropdown-item" href="#">Children’s</a></li>
                              <li><a class="dropdown-item" href="#">Religion, Spirituality & New Age</a></li>
                              <li><a class="dropdown-item" href="#">Science</a></li>
                              <li><a class="dropdown-item" href="#">History</a></li>
                              <li><a class="dropdown-item" href="#">Comics</a></li>
                              <li><a class="dropdown-item" href="#">Biographies</a></li>
                            </ul>
                        </div>
                        <input type="hidden" name="search_param" value="all" id="search_param">         
                        <input type="text" class="form-control" name="x" placeholder="Find a Book...">
                        <span class="input-group-btn">
                            <button class="flatLeftButton btn btn-warning" type="button"><img src='{% static "icons/magnifier.png" %}'><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </div>
          </div>
        </div>



      </header>

      <!-- Page Features -->
      <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src='{% static "img/book_1.jpg" %}' alt="Pet Sematary">
            <div class="card-body">
              <h4 class="card-title">Book of the Day</h4>
              <p class="card-text tripleDotLong">Louis Creed, a doctor from Chicago, is appointed director of the University of Maine's campus health service. He moves to a large house near the small town of Ludlow with his wife Rachel, their two young children, Ellie and Gage, and Ellie's cat, Church. From the moment they arrive, the family runs into trouble: Ellie hurts her knee after falling off a swing, and Gage is stung by a bee. Their new neighbor, an elderly man named Jud Crandall, comes to help. He warns Louis and Rachel about the highway that runs past their house; it is constantly used by speeding trucks.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-warning">Find Out More!</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src='{% static "img/book_2.jpg" %}' alt="The Rings of Saturn">
            <div class="card-body">
              <h4 class="card-title">Recomended</h4>
              <p class="card-text tripleDotLong">Lucky Starr and the Rings of Saturn is the final novel in the Lucky Starr series, six juvenile science fiction novels by Isaac that originally appeared under the pseudonym Paul French. The novel was first published by Doubleday & Company in 1958</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-warning">Find Out More!</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src='{% static "img/book_3.jpg" %}' alt="Dragons of Eden">
            <div class="card-body">
              <h4 class="card-title">Trending</h4>
              <p class="card-text tripleDotLong">The Dragons of Eden: Speculations on the Evolution of Human Intelligence is a 1977 book by Carl Sagan, in which the author combines the fields of anthropology, evolutionary biology, psychology, and computer science to give a perspective on how human intelligence may have evolved</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-warning">Find Out More!</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src='{% static "img/book_4.jpg" %}' alt="Bleeding Blue and Gray">
            <div class="card-body">
              <h4 class="card-title">Because you read</h4><h6 class="card-title">This Is Going to Hurt</h6>
              <p class="card-text tripleDotShort">A landmark chronicle of Civil War medicine, Bleeding Blue and Gray is a major contribution to our understanding of America’s bloodiest conflict. Indeed, eminent surgeon and medical historian Ira M. Rutkow argues that it is impossible to grasp the harsh realities of the Civil War withou</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-warning">Find Out More!</a>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; UCU 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src='{% static "libs/jquery/jquery.min.js" %}'></script>
    <script src='{% static "libs/bootstrap/js/bootstrap.bundle.min.js" %}'></script>
    <script>
    $(document).ready(function(e){
      $('.search-panel .dropdown-menu').find('a').click(function(e) {
      e.preventDefault();
      var param = $(this).attr("href").replace("#","");
      var concept = $(this).text();
      $('.search-panel span#search_concept').text(concept);
      $('.input-group #search_param').val(param);
      });
    });
  </script>
  </body>

</html>
