
{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-3 centerText">Welcome {{ user.username }}</h1>
        <p class="lead centerText">More Than 750,948 Books Over Here.</p>
        <div class="container">
            <div class="row">
              <div class="col-md-12 col-xs-offset-2">
                <form action="/search">
                <div class="input-group">
                    <div class="input-group-btn search-panel">
                        <select name="search_param" id="resizing_select" class="btn flatRightButton">
                          <option value="">Filter by</option>
                          <option value="book">Book</option>
                          <option value="sf">Science fiction</option>
                          <option value="fantasy">Fantasy</option>
                          <option value="drama">Drama</option>
                          <option value="action">Action and Adventure</option>
                          <option value="romance">Romance</option>
                          <option value="mystery">Mystery</option>
                          <option value="horror">Horror</option>
                          <option value="health">Health</option>
                          <option value="children">Children’s</option>
                          <option value="religion">Religion, Spirituality & New Age</option>
                          <option value="science">Science</option>
                          <option value="history">History</option>
                          <option value="comics">Comics</option>
                          <option value="biographies">Biographies</option>
                        </select>
                        <select id="width_tmp_select" style="display: none;">
                          <option id="width_tmp_option"></option>
                        </select>
                        <script>
                          $(document).ready(function() {
                            $('#resizing_select').change(function(){
                                $("#width_tmp_option").html($('#resizing_select option:selected').text());
                                $(this).width($("#width_tmp_select").width() + 6);
                            });
                          });
                        </script>
                    </div>
                    <input type="text" class="form-control" name="q" placeholder="Find a Book...">
                    <span class="input-group-btn">
                        <input class="flatLeftButton btn btn-warning" type="image" name="submit" src='{% static "icons/magnifier.png" %}' style="height: 38px;">
                    </span>
                  </div>
                </form>
                </div>
          </div>
        </div>



      </header>
        <!-- Page Features -->
        <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="{{ botd.cover.url }}" alt="{{ botd.title }}">
            <div class="card-body">
              <h4 class="card-title">Book of the Day</h4>
              <p class="card-text tripleDotLong">{{ botd.description }}</p>
            </div>
            <div class="card-footer">
              <a href="" class="btn btn-warning">Find Out More!</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src='{{ recomended.cover.url }}' alt="The Rings of Saturn">
            <div class="card-body">
              <h4 class="card-title">Recomended</h4>
              <p class="card-text tripleDotLong">{{ recomended.description }}</p>
            </div>
            <div class="card-footer">
              <a href="" class="btn btn-warning">Find Out More!</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src='{{ trending.cover.url }}' alt="{{ trending.title }}">
            <div class="card-body">
              <h4 class="card-title">Trending</h4>
              <p class="card-text tripleDotLong">{{ trending.description }}</p>
            </div>
            <div class="card-footer">
              <a href="" class="btn btn-warning">Find Out More!</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src='{{ bur.cover.url }}' alt="{{ bur.title }}">
            <div class="card-body">
              <h4 class="card-title">Because you read</h4><h6 class="card-title">{{ burThis }}</h6>
              <p class="card-text tripleDotShort">{{ bur.description }}</p>
            </div>
            <div class="card-footer">
              <a href="" class="btn btn-warning">Find Out More!</a>
            </div>
          </div>
        </div>

        </div>
        <!-- /.row -->

{% endblock %}